include mixins/documentarray
extends layout

block header
	h1 Create a new #{label.singular}

block content
	.container.linz-container.create.model
		.pane
			.body
				div
					form.form-horizontal.model(role='form',action='#{actionUrl}',method='post', data-linz-validation='true')
						.form-group.control-bar.control-bar-top
							.col-sm-12
								if formHeaderContent
									!= formHeaderContent
								else
									include partials/form-actions
						!= form
						.form-group.control-bar
							.col-sm-offset-2.col-sm-10
								if formFooterContent
									!= formFooterContent
								else
									include partials/form-actions
					mixin documentarray()
